In [1]:
'''** Import pandas as pd.**'''

'** Import pandas as pd.**'

In [2]:
import pandas as pd

In [3]:
# Q1
'''** Read Salaries.csv as a dataframe called sal.**'''

'** Read Salaries.csv as a dataframe called sal.**'

In [4]:
sal = pd.read_csv('Salaries.csv',low_memory=False)

In [5]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [6]:
# Q2
'''** Check the head of the DataFrame. **'''

'** Check the head of the DataFrame. **'

In [7]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [8]:
# Q3
'''** Use the .info() method to find out how many entries there are.**'''

'** Use the .info() method to find out how many entries there are.**'

In [9]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [10]:
# Q4
'''What is the average BasePay ?'''

'What is the average BasePay ?'

In [11]:
import numpy as np

In [12]:
np.sum(sal['BasePay']=='Not Provided')

4

In [13]:
sal['BasePay']=sal['BasePay'].astype(str)

In [14]:
lambda x:x.replace('Not Provided','0')

In [15]:
sal['BasePay']=sal['BasePay'].apply(lambda x:x.replace('Not Provided','0'))

In [16]:
sal['BasePay']=sal['BasePay'].astype(float)

In [17]:
sal['BasePay'].mean()

66323.65685410085

In [18]:
# Q5
'''** What is the highest amount of OvertimePay in the dataset ? **'''

'** What is the highest amount of OvertimePay in the dataset ? **'

In [19]:
np.sum(sal['OvertimePay']=='Not Provided')

4

In [20]:
sal['OvertimePay']=sal['OvertimePay'].astype(str)

In [21]:
lambda x:x.replace('Not Provided','0')

In [22]:
sal['OvertimePay']=sal['OvertimePay'].apply(lambda x:x.replace('Not Provided','0'))

In [23]:
sal['OvertimePay']=sal['OvertimePay'].astype(float)

In [24]:
sal['OvertimePay'].max()

245131.88

In [25]:
# Q6
'''** What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **'''

"** What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **"

In [26]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [27]:
# Q7
'''** How much does JOSEPH DRISCOLL make (including benefits)? **'''

'** How much does JOSEPH DRISCOLL make (including benefits)? **'

In [28]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [29]:
# Q8
'''** What is the name of highest paid person (including benefits)?**'''

'** What is the name of highest paid person (including benefits)?**'

In [30]:
sal['TotalPayBenefits'].max()

567595.43

In [31]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [32]:
# Q9
'''** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**'''

'** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**'

In [33]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [34]:
sal['TotalPayBenefits'].min()

-618.13

In [35]:
# Q10
'''** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **'''

'** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **'

In [36]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66557.437750
Name: BasePay, dtype: float64

In [37]:
# Q11
'''** How many unique job titles are there? **'''

'** How many unique job titles are there? **'

In [38]:
sal['JobTitle'].nunique()

2159

In [39]:
# Q12
'''** What are the top 5 most common jobs? **'''

'** What are the top 5 most common jobs? **'

In [40]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [41]:
# Q13
'''** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **'''

'** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **'

In [42]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

In [43]:
# Q14
'''** How many people have the word Chief in their job title? (This is pretty tricky) **'''

'** How many people have the word Chief in their job title? (This is pretty tricky) **'

In [44]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [45]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

In [46]:
# Q15
'''** Bonus: Is there a correlation between length of the Job Title string and Salary? **'''

'** Bonus: Is there a correlation between length of the Job Title string and Salary? **'

In [47]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [48]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000